body {
	background: url("images/homebackground.jpg");
	background-size: cover;
}
h1 {
	color: white;
	text-align: left;
	font-family: "Impact", Charcoal, sans-serif;
	text-transform: uppercase;
	font-size: 45px;
}

hr {
	width: 280px;
	margin-left: 0;
	margin-right: auto;
}
.lank {
	width: 200px;
	height: 50px;
	border: 2px solid white;
	margin: 150px;
	display: inline-block;
	font-family: "Arial";
	color: white;
	text-align: center;
	font-size: 40px;
}
h3	{
	color: white;
	text-align: left;
	font-family: "Trebuchet MS", "Helvetica", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}